html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: rgb(16, 136, 22);
  color: rgb(16, 136, 22);
  margin: 0;

  background-image: url("../img/bee.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ffd700;
  transition: 0.3s all ease-in-out;
}

footer p {
  padding-top: 3rem;
  text-align: center;
}

.categories {
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

.categories a {
  font-size: 2.5rem;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.grid {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  min-height: 70vh;
  justify-content: center;
}

.cell-grid {
  box-shadow: 15px 15px rgba(0, 0, 0, 0.438);
  width: 20rem;
  height: 12rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
}

.cell-grid:hover {
  background-color: #ffd700;
  color: #fff;
  transform: scale(1.05);
  transition: all 0.3s ease-in;
}

#heading {
  text-align: center;
  color: #ffd700;
  font-size: 4rem;
}

#start {
  text-align: center;
  font-size: 4.5rem;
  color: #ffffff;
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.438);
  padding: 1.5rem;
  border-radius: 2rem;
}

#end {
  color: #ffffff;
}

/*Creation of the popup*/
.modal {
  display: none;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}

.modal__content {
  background-color: #ffd700;
  min-width: 60%;
  max-width: 100%;
  padding: 2rem;
  border-radius: 5rem;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  text-align: center;
  z-index: 4;
}
.modal__info {
  text-align: center;
  font-size: 10rem;
  color: #fff;
}
.modal__button {
  border-radius: 2rem;
  font-size: 2.5rem;
  background: red;
  width: 12rem;
  display: block;
  margin: 0 auto;
}
.modal__button:hover {
  color: #fff;
  background-color: darkred;
  transition: 0.4s all ease-out;
}
.modal__show {
  display: flex;
}

.cross {
  position: relative;
  background-image: url("../img/trebol.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
}
